@use "variables" as *;
.brands__list {
            max-height: 145px;
            max-width: 100%;
            display: flex;
            flex-wrap: nowrap;
            gap: 16px;  
   @media (min-width:768px) {
            flex-wrap:wrap;
            max-height: 150px;
            overflow: hidden;        
}
.brands__item {
            display: flex;
            height:50px;
            max-width: 202px;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border:#EAEAEA solid 1px;
            box-shadow: 0s 2px 6px rgba(0,0,0,0.1);
            background-color: #FFFFFF;  
    }
.brands__item:hover {
            background-color:#f9d3da;
            transition: $transition;  
    }