@use "variables" as *;
 
.nav-list__list {
    display: flex;
    width: 100%;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style-type: none;
    margin-left: 16px;
    padding: 10px;
    margin-top: 0;
}

.nav-list__link {
    width: 200px;
    height: 40px;
    text-decoration: none;
    color: $color-text-gray;
    text-align: center;
    justify-content: flex-start;
    white-space: nowrap;
    border: 2px;
    padding: 5px 8px;
    margin-right: 0;
    border-radius: 5px;
    font-family: $font-regular;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

 .nav-list__link:hover {
    color: $color-text-gray;
    border: 1px solid #B8FFEC;
    background-color: #FFFFFF;
}