@use "variables" as *;
@use "mixins" as *;

.prices {
  background-color: $color-bg;
  padding: 0;

  @media (min-width: 768px) {
    display: grid;
    border: 1px solid #ddd;
    width: 100%;
  }

  &__swiper {
    margin-left: 0;
    margin-right: 0;

    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-color: #b5b6bc;
    --swiper-pagination-bullet-inactive-color: #b5b6bc;
  }
}

.prices__title {
  width: 288px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 0;
  background-color: $color-bg;
  color: $color-text-gray;
  font-family: $font-regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;

  &::before {
    display: none;
  }
}

.prices__list {
  display: inline-flex;
  gap: 0;
  border-radius: 6px;

  @media (min-width: 768px) {
    display: inline-flex;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    gap: 0;
    background: $color-white;
    border: 1px solid #00aeef;
    border-radius: 6px;
  }
}

.prices__item {
  position: relative;
  height: 200px;
  background-color: $color-white;

  @media (min-width: 768px) {
    width: 100%;
    height: 65px;
  }
}

.prices-tit {
  color: $color-text-gray;
  font-family: $font-regular;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 6px 0 0 12px;

  // Скрываем на десктопе
  @media (min-width: 768px) {
    display: none;
  }
}

.prices__pagination {
  display: flex;
  margin-top: 20px;
  justify-content: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.prices__description {
  margin: 2px;
  padding: 0 0 6px 10px;
  font-family: $font-regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: 768px) {
    font-size: 14px;
    color: #333;
    margin: 0;
    text-align: left;
    min-width: 50px;
    max-width: 340px;

    &:nth-child(4),
    &:nth-child(6) {
      text-align: center;
    }
  }
}

.prices-header {
  display: none;
}

// Десктопная таблица цен
@media (min-width: 768px) {
  .prices-header {
    display: inline-flex;
    height: 16px;
    width: 80%;
    gap: 20%;
    justify-content: space-around;
    padding-bottom: 26px;
    color: $color-text-gray;
    font-family: $font-regular;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .prices .prices__item {
    @include price-grid;

    .prices__description:nth-child(2) {
      grid-column: 1;
    } // Услуга
    .prices__description:nth-child(4) {
      grid-column: 2;
    } // Цена
    .prices__description:nth-child(6) {
      grid-column: 3;
    } // Срок
  }
}

.prices__button {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 119px;
  height: 32px;
  background-color: $color-primary;
  border: none;
  border-radius: 16px;
  padding: 0;
  margin: 0;
  margin-top: 0;
  font-weight: bold;
  color: $color-white;
  cursor: pointer;
  white-space: nowrap;

  @media (min-width: 768px) {
    grid-column: 4;
  }
}
