@use "variables" as *;
@use "mixins" as *;

// Общие стили
.title,
.name {
  width: 288px;
  height: 80px;
  margin: 10px;
  padding: 10px;
  border: 0;
  background-color: $color-bg;
  color: $color-text-gray;
  font-family: $font-regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.swiper {
  position: relative;
  overflow: visible;
  padding: 0 20px 20px;
}

// Кнопки "Показать всё"
.links-all {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    margin-top: 0;
  }
}

#toggleButtonBrands,
#toggleButtonDevices {
  display: none;

  @media (min-width: 768px) {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    background: transparent;
    color: $color-text-dark;
    border: 0;
    border-radius: 5px;

    &::before {
      content: url(/img/exp.svg);
      width: 24px;
      height: 24px;
      margin-right: 4px;
      color: $color-accent;
    }
  }
}
